.cart-item {
   width: 350px;
   background-color:gainsboro;
   border-radius: 10px;
   margin: 10px;
   position: relative;
   padding: 10px;
}
.cart-item img {
   width: 100%;
   border-radius: 20px;
}

.cart-item-text{
   margin-bottom: 0;
}

.cart-item-btn{
   position: absolute;
   bottom: 0;
}

.cart-item-btn button {
   width: 350px;
   background-color: cadetblue;
   padding: 15px;
   border: none;
   border-radius: 7px;
}