.cart-item {
   width: 350px;
   background-color:whitesmoke;
   border-radius: 10px;
   margin: 10px;
   position: relative;
   padding: 10px;
}
.cart-item img {
   width: 100%;
   border-radius: 20px;
}

.cart-item-text{
   margin-bottom: 50px;
}

.cart-item-btn{
   position: absolute;
   bottom: 0;
}

.cart-item-btn button {
   width: 350px;
   background-color: rgb(226, 192, 233);
   padding: 15px;
   font-size: 20px;
   border: none;
   border-radius: 7px;
};
