.header-component{
   color:rgb(74, 129, 248);
   margin-left: 50px;
   margin-top: 50px;
   display: flex;
   align-items: center;
   height: 50px;

}

.header-text h1 {
   font-size: 2em;
}

.header-component img {
   width: 30px;
   height: 30px;
   border-radius: 150px;
}

.header-under-text {
   margin-left: 50px;
}